<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="SuperSocket.ClientEngine" version="0.8.0.7" targetFramework="net40" />
  <package id="SuperSocket.ProtoBase" version="1.7.0.12" targetFramework="net40" />
</packages>